.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* .circular--square {
  border-radius: 50%;
} */

.circular--square {
  border-top-left-radius: 60% 60%;
  border-top-right-radius: 60% 60%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: white;
  color: #55ACEE;
}

.fa-quora {
  background: white;
  color: red;
}

fa-github {
  background: #0b0b0b;
  color: white;
}